.navbar-brand
    margin-left: 500px
    background-color: #ad7815
.collapse
    .navbar-nav
        .nav-item
            padding-left: 16px
            padding-right: 16px
        .nav-item:hover
             box-shadow: 8px 8px  8px 8px
             background-color: rgba() 
   

.carrousel-slide
    position: relative
    .lancelot
        position: absolute
        left: 500px
        

